body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #af7a4c;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.form-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    font-weight: bold;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

input[type="text"], input[type="number"], textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #a0af4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #8b8e3e;
}